# Main automated config

# Node
alias ,i='npm install'

# Docker
alias ,compose="sudo docker-compose"
alias ,docker="sudo docker"
alias ,compose-viz="sudo docker run --rm -it --name dcv -v $(pwd):/input pmsipilot/docker-compose-viz render -m image docker-compose.yml --force"

# Temp
alias ,solve="docker run --rm -v \"$(pwd):/mnt/data\" feust/sudoku-solver:2.1"
alias ,node="cd /home/lanfeust/dev/web/node-tuto"

# The following command pulls aliases, edit them, and push them and apply them WOW
alias ,aliases="vim ~/.dotfiles/.aliases"
alias ,sync="~/.dotfiles/deploy.sh"
alias ,sync-first-setup="cat ~/.dotfiles/do-this"

alias ,zsh="vim ~/.dotfiles/zsh/.zshrc"
alias ,zsh-local="vim ~/.zshrc"
alias ,zsh-apply="source ~/.zshrc"
alias ,bash="vim ~/.bashrc"
alias ,bash-apply="source ~/.bashrc"

alias ,vim="vim ~/.vimrc"

# Usual Shell command (cd, ls...)
alias dirs="ls -al | grep '^d'"
alias ll="ls -lahF"
alias l="ls"
alias lf="ls -aFG"
alias lm="ls -al|more"
alias lt='ls --human-readable --size -1 -S --classify'
alias rm='rm -v'
alias h="history"
alias qp="ps auxwww|more"
alias nu="who|wc -l"
alias ccat='pygmentize -g'

alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

alias ,dev='cd ~/dev'
alias ,web='cd ~/dev/web/'

# Git
alias gs="git status"
alias grab="git branch | grep -v "master" | xargs git branch -D"

# Python
alias ,venv-activate='source env/bin/activate && which python && echo virtualenv activated!'
alias ,venv-create='virtualenv -p python3 env/ && ,venv-activate'
alias ,venv-delete='rm -rf env/'
alias ,venv-fill=',venv-activate && echo Filling the previous space && pip3 install -r requirements.txt && echo Following packages installed && pip3 freeze'
alias py=python3

# Google Drive
alias ,google-drive-mount='google-drive-ocamlfuse ~/GoogleDrive'

# Proxy ViaRezo
alias ,proxyVR="sshuttle -r lanfeust@proxy.viarezo.fr -x proxy.viarezo.fr 138.195.128.0/19 192.168.0.0/16 10.0.0.0/8"

# NOhup-ed editors, with nohup file transfered in home so it doesn't pollute
alias ,renpy="cd && nohup ~/dev/renpy-7.3.5-sdk/renpy.sh &;cd -"
alias ,unity="cd && nohup ~/dev/unity/UnityHub.AppImage &"

# Internet
alias ,ping='ping -c 5'
alias ,ping-test='ping -c 5 8.8.8.8'

# Install
alias ,install="sudo apt install"
alias ,remove="sudo apt remove"
alias ,update="sudo apt update && apt list --upgradeable"
alias ,upgrade="sudo apt upgrade -y && sudo apt autoremove -y && clear && echo Everything up-to-date"

# Useful stuff
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
alias h='history'
alias j='jobs -l'
alias ,path='echo -e ${PATH//:/\\n}'
alias ,path-add="echo 'export PATH=$PATH:$(pwd)' >> ~/.zshrc"
alias now='date +"%T"'
alias nowdate='date +"%d-%m-%Y"'
alias ,clear-cache-memory="echo 'run this as root : \n sync; echo 1 > /proc/sys/vm/drop_caches'"

# Personnal stuff
alias ,coalescence="cd ~/dev/coalescence"
alias ,blog="cd ~/dev/web/ewenquim.github.io"
alias ,blog-edit="code ~/dev/web/ewenquim.github.io"
